*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif
}

nav{
    height: 72px;
    width: 100%;
    top: -3px;
    justify-content: space-between;
    background: #087bb5e0;
    display: flex;
    align-items: center;
    padding: 0 30px;
}

.logo{
    width: 140px;
    height: 44px;
}

.cart{
    width: 25px;
    height: 25px;
}

.menu{
    display: flex;
    align-items: center;
    gap: 30px;
    color: rgba(255, 255, 255, 0.933);
    font-size: 20px;
    font-weight: 700;
}

.menu a{
    color: rgba(255,255,255,0.6);
    text-decoration:none;
}

.menu a.active{
    color:white;
}

.home{
    width: 100%;
    min-height: 600px;
    display: flex;
    background:#f6a02d;
    align-items: center;
}

.home-content{
    width: 55%;
    padding: 80px;
}

.home-content h1{
    font-size: 45px;
    font-weight: 700;
    line-height: 1.2; 
}

.home-content span{
    color: rgb(220, 26, 26)
}

.home-content p{
    margin-top: 25px;
    font-size: 18px;
}

.search-box{
    margin-top: 20px;
    display: flex;
    width: 100%;
    max-width: 520px;
}

.search-box input{
    flex: 1;
    min-width: 0;
    height: 45px;
    border: none;
    padding: 10px;
    font-size: 16px;
}

.search-box button{
    width: 150px;
    height: 45px;
    background: #087bb5e0;
    color: white;
    border: none;
    font-size: 16px;
    cursor: pointer;
}

.home-image{
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-image img{
    width: 100%;
    max-width: 521px;
    height: auto;
}

.footer{
    display: flex;
    width: 100%;
    height: 48px;
    background: #000000;
    justify-content: space-between;
    align-items: center;
    padding: 0 60px;
    color: #ffffff;
}

.social-icons{
    display: flex;
    gap: 20px;
}

.social-icons a{
    color: #ffffff;
    font-size: 25px;
    text-decoration: none;
}

.social-icons a:hover{
    color: #ffffff
}

.footer p{
    font-size: 14px;
}

@media(max-width: 768px){
    nav{
        height: auto;
        flex-direction: column;
        padding: 20px;
    }

    .logo{
        margin-bottom: 20px;
    }

    .menu{
        flex-direction: column;
        gap: 15px;
        font-size: 18px;
    }

    .footer{
        height: auto;
        flex-direction: column;
        padding: 20px;
        gap: 15px;
        text-align: center;
    }

    .social-icons img{
        width: 150px;
    }
}

@media(max-width: 768px){

    .home{
        flex-direction: row;
    }

    .home-content{
        width: 55%;
        padding: 30px 20px;
    }

    .home-content h1{
        font-size: 28px;
    }

    .search-box{
        flex-direction: column;
        width: 100%;
    }

    .search-box input{
        width: 100%;
    }

    .search-box button{
        width: 100%;
        margin-top: 10px;
    }

    .home-image{
        width: 45%;
    }

    .home-image img{
        width: 100%;
        height: auto;
    }
}